
.certification-section {
  // background-color: cornflowerblue;
}

.certification {
  display: flex;

  &__badge {
    margin-right: 10px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    color: #778492;
  }

  &__year {
    font-size: 14px;
    font-weight: 500;
    color: #b0b7bf;
    margin-left: 12px;
  }
}