
.education-section {
  // background-color: fuchsia;
}

.education-entry {
  margin-bottom: 10px;
}

.degreeTitle {
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
  color: #778492;
}

.education-icon {
  margin-right: 10px;
}

.university {
  font-size: 15px;
  font-weight: 600;
  color: #999;
  margin-left: 38px;
}

.year {
  font-size: 14px;
  font-weight: 500;
  color: #b0b7bf;
  margin-left: 12px;
}