
.basic-info-section {
  background-color: lime;

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0 0;
    // margin: 0 0;

    li {
      margin-bottom: 12px;
    }
  }
}

.info-listitem {
  &:first-of-type {
    color: #434343;
    font-size: 16px;
  }
}

.info-listitem, 
.info-listitem a {
  text-decoration: none;
  color:#3AAA64;
}


.list-icon {
  margin-right: 20px;
}