
.music-section {
  // background-color: mistyrose;
}

.music-list {
  list-style-type: none;
  padding: 0 0;
  font-size: 18px;
  font-weight: 700;
  color: #778492;

  li {
    margin-bottom: 20px;
  }
}

.music-listitem,
.music-listitem a {
  text-decoration: none;
  color: #778492;
}


.music-icon {
  margin-right: 20px;
}