
.contactView {
  margin-top: -30vh;
  padding-bottom: 4rem;
  background-image: url('../assets/img/robertMondavi604x599.jpg');
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
