

.bg-header {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-header-landing {
  background-image: url('../../assets/img/hillmeadeRoad406x603.jpg');
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


