.image-modal {

  &__header {
    background-color: rgba(0,0,0,.9);
    color: whitesmoke;
    border-bottom: none;

    .btn-close {
      background-color: white;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.9);
  }

  &__image {
    width: 60%;
    height: 60%;
  }
}