.stroked-heading {
  -webkit-text-stroke: 3px white;
  color: transparent;
  font-size: 60px;
}

.not-blurry-stroke {
  font-size: 100px;
  color: red;
  -webkit-text-stroke: 4px black;
  paint-order: stroke fill;
}

.shadow-hack-1 {
  font-size: 80px;
  color: blue;
  text-shadow: 
    1px 0 0 white,   /* right */
    0 1px 0 white,   /* top */
    -1px 0 0 white, /* left */
    0 -1px 0 white; /* bottom */
  ;
}

.shadow-hack-3 {
  font-size: 80px;
  color: blue;
  text-shadow: 
    3px 0 0 white,
    0 3px 0 white,
    -3px 0 0 white,
    0 -3px 0 white;

}

.shadow-hack-20 {
  font-size: 80px;
  color: blue;
  text-shadow: 
    5px 0 0 white,
    0 5px 0 white,
    -5px 0 0 white,
    0 -5px 0 white;

}




.pseudo-hack {
  font-size: 80px;
  color: blue;

  
  h1::after {
    content: attr(data-text);
  
    position: absolute;
    left: 0;
    z-index: -1;
  
    -webkit-text-stroke: 20px white;
  
    font-size: 1em;
  }
}



