
.certification {
  display: flex;
  padding: 10px 10px 20px 40px;

  &__badge {
    margin-right: 10px;
  }

  &__heading {
    font-size: 16px;
    font-weight: 700;
    color: #778492;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__year {
    font-size: 14px;
    font-weight: 500;
    color: #b0b7bf;
    margin-left: 12px;
  }
}